In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('G:/Stuff/adult train.csv')

In [3]:
df1=pd.read_csv('G:/Stuff/adult test.csv')

In [4]:
df.shape,df1.shape

((32561, 15), (16281, 15))

#### 1) workclass

In [5]:
a=df.drop(df[df['workclass']==' ?'].index,axis=0)

In [6]:
a.shape

(30725, 15)

In [7]:
a.drop(['occupation','native-country'],axis=1,inplace=True)

In [8]:
a.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,relationship,race,sex,capital-gain,capital-loss,hours-per-week,income
0,39,State-gov,77516,Bachelors,13,Never-married,Not-in-family,White,Male,2174,0,40,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Husband,White,Male,0,0,13,<=50K

In [9]:
a[['workclass','education','marital-status','relationship','race','sex','income']]=a[['workclass','education','marital-status','relationship','race','sex','income']].astype('category')

In [10]:
a['workclass']=a['workclass'].cat.codes
a['education']=a['education'].cat.codes
a['marital-status']=a['marital-status'].cat.codes
a['relationship']=a['relationship'].cat.codes
a['race']=a['race'].cat.codes
a['sex']=a['sex'].cat.codes
a['income']=a['income'].cat.codes

In [11]:
a.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,relationship,race,sex,capital-gain,capital-loss,hours-per-week,income
0,39,6,77516,9,13,4,1,4,1,2174,0,40,0
1,50,5,83311,9,13,2,0,4,1,0,0,13,0
2,38,3,215646,11,9,0,1,4,1,0,0,40,0

In [12]:
X=a.drop('workclass',axis=1)
Y=a['workclass']

In [13]:
X.shape,Y.shape

((30725, 12), (30725,))

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

In [15]:
x_train,x_test,y_train,y_test =train_test_split(X,Y,random_state=0,test_size=0.25)

In [16]:
RF=RandomForestClassifier()
RF.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [17]:
XGB=XGBClassifier()
XGB.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method=None, validate_parameters=False, verbosity=None)

In [18]:
RF.score(x_test,y_test)*100

71.8562874251497

In [19]:
XGB.score(x_test,y_test)*100

73.65269461077844

In [20]:
b=df.drop(['workclass','occupation','native-country'],axis=1)

In [21]:
b[['education','marital-status','relationship','race','sex','income']]=b[['education','marital-status','relationship','race','sex','income']].astype('category')

In [22]:
b['education']=b['education'].cat.codes
b['marital-status']=b['marital-status'].cat.codes
b['relationship']=b['relationship'].cat.codes
b['race']=b['race'].cat.codes
b['sex']=b['sex'].cat.codes
b['income']=b['income'].cat.codes

In [23]:
y_pred=RF.predict(b)

In [24]:
DF=pd.DataFrame(data=y_pred).rename(columns={0:'workclass'})

In [25]:
DF['workclass'].value_counts()

3    25797
5     2302
1     1722
6     1037
4      905
0      784
7        9
2        5
Name: workclass, dtype: int64

In [26]:
df['workclass'].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [27]:
DF['workclass'].value_counts().index

Int64Index([3, 5, 1, 6, 4, 0, 7, 2], dtype='int64')

In [28]:
tar_names=[' Private', ' Self-emp-not-inc', ' Local-gov', ' State-gov',
       ' Self-emp-inc', ' Federal-gov', ' Without-pay', ' Never-worked']
tar_names1=[' Federal-gov',' Local-gov',' Never-worked',' Private',' Self-emp-inc',' Self-emp-not-inc',' State-gov',' Without-pay']
tar=[3, 5, 1, 6, 4, 0, 7, 2]

In [29]:
DF['workclass']=[tar_names1[x] for x in DF['workclass']]

In [30]:
df[df['workclass']==' ?'].index

Int64Index([   27,    61,    69,    77,   106,   128,   149,   154,   160,
              187,
            ...
            32426, 32477, 32490, 32494, 32525, 32530, 32531, 32539, 32541,
            32542],
           dtype='int64', length=1836)

In [31]:
c=DF.loc[df[df['workclass']==' ?'].index,]
c

               workclass
27               Private
61               Private
69               Private
77               Private
106              Private
...                  ...
32530            Private
32531            Private
32539   Self-emp-not-inc
32541            Private
32542            Private

[1836 rows x 1 columns]

In [32]:
df.loc[df['workclass']==' ?','workclass']=c

In [33]:
df['workclass'].value_counts()

 Private             24359
 Self-emp-not-inc     2657
 Local-gov            2120
 State-gov            1309
 Self-emp-inc         1128
 Federal-gov           966
 Without-pay            14
 Never-worked            8
Name: workclass, dtype: int64

#### 2) occupation

In [34]:
a1=df.drop(df[df['occupation']==' ?'].index,axis=0)

In [35]:
a1.shape

(30718, 15)

In [36]:
a1.drop(['native-country'],axis=1,inplace=True)

In [37]:
a1[['workclass','education','marital-status','relationship','race','sex','income','occupation']]=a1[['workclass','education','marital-status','relationship','race','sex','income','occupation']].astype('category')

In [38]:
a1['workclass']=a1['workclass'].cat.codes
a1['education']=a1['education'].cat.codes
a1['marital-status']=a1['marital-status'].cat.codes
a1['relationship']=a1['relationship'].cat.codes
a1['race']=a1['race'].cat.codes
a1['sex']=a1['sex'].cat.codes
a1['income']=a1['income'].cat.codes
a1['occupation']=a1['occupation'].cat.codes

In [39]:
a1.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,income
0,39,5,77516,9,13,4,0,1,4,1,2174,0,40,0
1,50,4,83311,9,13,2,3,0,4,1,0,0,13,0

In [40]:
X1=a1.drop('occupation',axis=1)
Y1=a1['occupation']

In [41]:
X1.shape,Y1.shape

((30718, 13), (30718,))

In [42]:
x_train,x_test,y_train,y_test =train_test_split(X1,Y1,random_state=0,test_size=0.25)

In [43]:
RF1=RandomForestClassifier()
RF1.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [44]:
XGB1=XGBClassifier()
XGB1.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method=None, validate_parameters=False, verbosity=None)

In [45]:
KNN1=KNeighborsClassifier()
KNN1.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [46]:
LR1=LogisticRegression()
LR1.fit(x_train,y_train)

c:\software\python3.8\lib\site-packages\sklearn\linear_model\_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [47]:
RF1.score(x_test,y_test)*100

29.244791666666664

In [48]:
XGB1.score(x_test,y_test)*100

34.088541666666664

In [49]:
KNN1.score(x_test,y_test)*100

13.802083333333334

In [50]:
LR1.score(x_test,y_test)*100

14.010416666666666

In [51]:
b1=df.drop(['occupation','native-country'],axis=1)

In [52]:
b1[['workclass','education','marital-status','relationship','race','sex','income']]=b1[['workclass','education','marital-status','relationship','race','sex','income']].astype('category')

In [53]:
b1['education']=b1['education'].cat.codes
b1['marital-status']=b1['marital-status'].cat.codes
b1['relationship']=b1['relationship'].cat.codes
b1['race']=b1['race'].cat.codes
b1['sex']=b1['sex'].cat.codes
b1['income']=b1['income'].cat.codes
b1['workclass']=b1['workclass'].cat.codes

In [54]:
y_pred1=XGB1.predict(b1)

In [55]:
DF1=pd.DataFrame(data=y_pred1).rename(columns={0:'occupation'})

In [56]:
DF1['occupation'].value_counts().index

Int64Index([3, 11, 2, 9, 0, 7, 4, 10, 13, 12, 5, 6, 1, 8], dtype='int64')

In [57]:
df['occupation'].value_counts().index

Index([' Prof-specialty', ' Craft-repair', ' Exec-managerial', ' Adm-clerical',
       ' Sales', ' Other-service', ' Machine-op-inspct', ' ?',
       ' Transport-moving', ' Handlers-cleaners', ' Farming-fishing',
       ' Tech-support', ' Protective-serv', ' Priv-house-serv',
       ' Armed-Forces'],
      dtype='object')

In [58]:
tar_names2=[' Sales',' Priv-house-serv',' Exec-managerial',' Prof-specialty',' Machine-op-inspct',' Tech-support',' Protective-serv',' Other-service',' Armed-Forces',' Adm-clerical',' Transport-moving',' Craft-repair',' Farming-fishing',' Handlers-cleaners']
tar=[3, 11, 2, 9, 0, 7, 4, 10, 13, 12, 5, 6, 1, 8]

In [59]:
DF1['occupation']=[tar_names2[x] for x in DF1['occupation']]

In [60]:
c1=DF1.loc[df[df['occupation']==' ?'].index,]
c1

             occupation
27       Prof-specialty
61      Exec-managerial
69      Exec-managerial
77         Adm-clerical
106       Other-service
...                 ...
32530    Prof-specialty
32531      Adm-clerical
32539      Adm-clerical
32541     Other-service
32542    Prof-specialty

[1843 rows x 1 columns]

In [61]:
df.loc[df['occupation']==' ?','occupation']=c1

In [62]:
df['occupation'].value_counts()

 Craft-repair         4592
 Prof-specialty       4587
 Exec-managerial      4219
 Adm-clerical         3902
 Sales                3846
 Other-service        3574
 Machine-op-inspct    2104
 Transport-moving     1607
 Handlers-cleaners    1395
 Farming-fishing       994
 Tech-support          933
 Protective-serv       650
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

#### 3) native-country

In [63]:
a2=df.drop(df[df['native-country']==' ?'].index,axis=0)

In [64]:
a2.shape

(31978, 15)

In [65]:
a2[['workclass','education','marital-status','relationship','race','sex','income','occupation','native-country']]=a2[['workclass','education','marital-status','relationship','race','sex','income','occupation','native-country']].astype('category')

In [66]:
a2['workclass']=a2['workclass'].cat.codes
a2['education']=a2['education'].cat.codes
a2['marital-status']=a2['marital-status'].cat.codes
a2['relationship']=a2['relationship'].cat.codes
a2['race']=a2['race'].cat.codes
a2['sex']=a2['sex'].cat.codes
a2['income']=a2['income'].cat.codes
a2['occupation']=a2['occupation'].cat.codes
a2['native-country']=a2['native-country'].cat.codes

In [67]:
a2.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,6,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,5,83311,9,13,2,3,0,4,1,0,0,13,38,0

In [68]:
X2=a2.drop('native-country',axis=1)
Y2=a2['native-country']

In [69]:
X2.shape,Y2.shape

((31978, 14), (31978,))

In [70]:
x_train,x_test,y_train,y_test =train_test_split(X2,Y2,random_state=0,test_size=0.25)

In [71]:
RF2=RandomForestClassifier()
RF2.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [72]:
XGB2=XGBClassifier()
XGB2.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method=None, validate_parameters=False, verbosity=None)

In [73]:
KNN2=KNeighborsClassifier()
KNN2.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [74]:
LR2=LogisticRegression()
LR2.fit(x_train,y_train)

c:\software\python3.8\lib\site-packages\sklearn\linear_model\_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [75]:
RF2.score(x_test,y_test)*100

91.90744215134458

In [76]:
XGB2.score(x_test,y_test)*100

91.869918699187

In [77]:
KNN2.score(x_test,y_test)*100

90.58161350844279

In [78]:
LR2.score(x_test,y_test)*100

91.25703564727955

In [79]:
b2=df.drop(['native-country'],axis=1)

In [80]:
b2[['workclass','education','marital-status','relationship','race','sex','income','occupation']]=b2[['workclass','education','marital-status','relationship','race','sex','income','occupation']].astype('category')

In [81]:
b2['education']=b2['education'].cat.codes
b2['marital-status']=b2['marital-status'].cat.codes
b2['relationship']=b2['relationship'].cat.codes
b2['race']=b2['race'].cat.codes
b2['sex']=b2['sex'].cat.codes
b2['income']=b2['income'].cat.codes
b2['workclass']=b2['workclass'].cat.codes
b2['occupation']=b2['occupation'].cat.codes

In [82]:
y_pred2=RF2.predict(b2)

In [83]:
DF2=pd.DataFrame(data=y_pred2).rename(columns={0:'native-country'})

In [84]:
DF2['native-country'].value_counts().index

Int64Index([38, 25, 29, 10, 18,  1,  7, 32, 34,  4,  2, 39,  8, 35, 21, 12, 22,
            23,  5, 30,  3, 13, 19, 31, 28, 26,  6,  9, 11, 20, 16,  0, 36, 24,
            40, 37, 17, 15, 27, 33, 14],
           dtype='int64')

In [85]:
df['native-country'].value_counts().index

Index([' United-States', ' Mexico', ' ?', ' Philippines', ' Germany',
       ' Canada', ' Puerto-Rico', ' El-Salvador', ' India', ' Cuba',
       ' England', ' Jamaica', ' South', ' China', ' Italy',
       ' Dominican-Republic', ' Vietnam', ' Guatemala', ' Japan', ' Poland',
       ' Columbia', ' Taiwan', ' Haiti', ' Iran', ' Portugal', ' Nicaragua',
       ' Peru', ' France', ' Greece', ' Ecuador', ' Ireland', ' Hong',
       ' Cambodia', ' Trinadad&Tobago', ' Laos', ' Thailand', ' Yugoslavia',
       ' Outlying-US(Guam-USVI-etc)', ' Hungary', ' Honduras', ' Scotland',
       ' Holand-Netherlands'],
      dtype='object')

In [87]:
x=[' United-States', ' Mexico', ' Philippines', ' Germany',
       ' Canada', ' Puerto-Rico', ' El-Salvador', ' India', ' Cuba',
       ' England', ' Jamaica', ' South', ' China', ' Italy',
       ' Dominican-Republic', ' Vietnam', ' Guatemala', ' Japan', ' Poland',
       ' Columbia', ' Taiwan', ' Haiti', ' Iran', ' Portugal', ' Nicaragua',
       ' Peru', ' France', ' Greece', ' Ecuador', ' Ireland', ' Hong',
       ' Cambodia', ' Trinadad&Tobago', ' Laos', ' Thailand', ' Yugoslavia',
       ' Outlying-US(Guam-USVI-etc)', ' Hungary', ' Honduras', ' Scotland',
       ' Holand-Netherlands']

In [88]:
y=[38, 25, 29, 10, 18,  1,  7, 32, 34,  4,  2, 39,  8, 35, 21, 12, 22,
            23,  5, 30,  3, 13, 19, 31, 28, 26,  6,  9, 11, 20, 16,  0, 36, 24,
            40, 37, 17, 15, 27, 33, 14]

In [90]:
z=pd.Series(data=x,index=y)

In [98]:
z.sort_index().values

array([' Cambodia', ' Puerto-Rico', ' Jamaica', ' Taiwan', ' England',
       ' Poland', ' France', ' El-Salvador', ' China', ' Greece',
       ' Germany', ' Ecuador', ' Vietnam', ' Haiti',
       ' Holand-Netherlands', ' Hungary', ' Hong',
       ' Outlying-US(Guam-USVI-etc)', ' Canada', ' Iran', ' Ireland',
       ' Dominican-Republic', ' Guatemala', ' Japan', ' Laos', ' Mexico',
       ' Peru', ' Honduras', ' Nicaragua', ' Philippines', ' Columbia',
       ' Portugal', ' India', ' Scotland', ' Cuba', ' Italy',
       ' Trinadad&Tobago', ' Yugoslavia', ' United-States', ' South',
       ' Thailand'], dtype=object)

In [99]:
tar_name3=[' Cambodia', ' Puerto-Rico', ' Jamaica', ' Taiwan', ' England',
       ' Poland', ' France', ' El-Salvador', ' China', ' Greece',
       ' Germany', ' Ecuador', ' Vietnam', ' Haiti',
       ' Holand-Netherlands', ' Hungary', ' Hong',
       ' Outlying-US(Guam-USVI-etc)', ' Canada', ' Iran', ' Ireland',
       ' Dominican-Republic', ' Guatemala', ' Japan', ' Laos', ' Mexico',
       ' Peru', ' Honduras', ' Nicaragua', ' Philippines', ' Columbia',
       ' Portugal', ' India', ' Scotland', ' Cuba', ' Italy',
       ' Trinadad&Tobago', ' Yugoslavia', ' United-States', ' South',
       ' Thailand']

In [101]:
DF2['native-country']=[tar_name3[x] for x in DF2['native-country']]

In [106]:
c2=DF2.loc[df[df['native-country']==' ?'].index,]

In [103]:
df.loc[df['native-country']==' ?','native-country']=c2

In [104]:
df['native-country'].value_counts()

 United-States                 29696
 Mexico                          654
 Philippines                     219
 Germany                         137
 Canada                          129
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             99
 England                          90
 Jamaica                          84
 South                            82
 China                            75
 Italy                            74
 Dominican-Republic               70
 Vietnam                          67
 Japan                            66
 Guatemala                        64
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             22
 Trinadad&Tobago                  20
 Cambodia                         19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name: native-country, dtype: int64

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [109]:
df['income']=df['income'].astype('category')

In [110]:
df['income']=df['income'].cat.codes

In [111]:
df[['workclass','education','marital-status','occupation','relationship','race','sex','native-country']]=df[['workclass','education','marital-status','occupation','relationship','race','sex','native-country']].astype('category')

In [112]:
df['workclass']=df['workclass'].cat.codes
df['education']=df['education'].cat.codes
df['marital-status']=df['marital-status'].cat.codes
df['occupation']=df['occupation'].cat.codes
df['relationship']=df['relationship'].cat.codes
df['race']=df['race'].cat.codes
df['sex']=df['sex'].cat.codes
df['native-country']=df['native-country'].cat.codes

In [114]:
df.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,6,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,5,83311,9,13,2,3,0,4,1,0,0,13,38,0
2,38,3,215646,11,9,0,5,1,4,1,0,0,40,38,0

In [115]:
data=df.drop('income',axis=1)
target=df['income']

In [116]:
data.shape,target.shape

((32561, 14), (32561,))

In [117]:
from imblearn.over_sampling import RandomOverSampler

In [118]:
ros=RandomOverSampler(sampling_strategy=1.0,random_state=42)

In [119]:
X_ros,Y_ros=ros.fit_sample(data,target)

In [121]:
x_train,x_test,y_train,y_test=train_test_split(X_ros,Y_ros,random_state=0,test_size=0.25)

In [122]:
RF_1=RandomForestClassifier()
RF_1.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [123]:
XGB_1=XGBClassifier()
XGB_1.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
              validate_parameters=False, verbosity=None)

In [124]:
RF_1.score(x_test,y_test)*100

93.00970873786409

In [125]:
XGB_1.score(x_test,y_test)*100

87.68608414239483

In [126]:
RF_1.score(x_train,y_train)*100

99.99730312837109

In [127]:
XGB_1.score(x_train,y_train)*100

90.01078748651564

In [128]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [129]:
y_pred_RF_1=RF_1.predict(x_test)
y_pred_XGB_1=XGB_1.predict(x_test)

In [130]:
confusion_matrix(y_pred_RF_1,y_test)

array([[5523,  153],
       [ 711, 5973]], dtype=int64)

In [131]:
confusion_matrix(y_pred_XGB_1,y_test)

array([[5242,  530],
       [ 992, 5596]], dtype=int64)