In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('G:/Stuff/Categorical-Features-master/Startups_Expense.csv')

In [4]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [8]:
state=pd.get_dummies(df['State'],drop_first=True)

In [9]:
state.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [10]:
df=df.drop('State',axis=1)

In [12]:
df=pd.concat([df,state],axis=1)

In [13]:
df.head()

   R&D Spend  Administration  Marketing Spend     Profit  Florida  New York
0  165349.20       136897.80        471784.10  192261.83        0         1
1  162597.70       151377.59        443898.53  191792.06        0         0
2  153441.51       101145.55        407934.54  191050.39        1         0
3  144372.41       118671.85        383199.62  182901.99        0         1
4  142107.34        91391.77        366168.42  166187.94        1         0

In [15]:
data=df.drop('Profit',axis=1)
target=df['Profit']

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [33]:
x_train,x_test,y_train,y_test =train_test_split(data,target,random_state=0,test_size=0.3)

In [34]:
LR=LinearRegression()
LR.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
y_predict =LR.predict(x_test)
y_predict

array([104282.76472172, 132536.88499212, 133910.85007766,  72584.77489417,
       179920.9276189 , 114549.31079234,  66444.43261346,  98404.96840122,
       114499.82808602, 169367.50639895,  96522.6253998 ,  88040.6718287 ,
       110949.99405525,  90419.1897851 , 128020.46250064])

In [30]:
from sklearn.metrics import r2_score

In [36]:
LR.score(x_test,y_test)*100

93.58680970046242

In [37]:
r2_score(y_predict,y_test)*100

93.4615450563016